/* Code for The Comet Animation */

.comets {
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        pointer-events: none;

        /* Default values for duration and y value (For Desktop) */
        --transform-duration: 7s;
        --transform-y: -260vh;
}

.comets span {
        width: 12px;
        height: 120px;
        opacity: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 20px;
        filter: drop-shadow(0 0 10px rgba(140, 200, 255, 0.8));
        animation-name: comet;
        animation-timing-function: linear;
        animation-duration: var(--transform-duration);
        animation-iteration-count: infinite;
}

@keyframes comet {
        0% {
                transform: translateY(0) translateX(0) scale(0.8);
                opacity: 0;
        }

        10% {
                opacity: 1;
        }

        100% {
                transform: translateY(var(--transform-y)) translateX(120px) scale(1.1);
                opacity: 0;
        }
}

/* Delay for each comet separately (Desktop View)*/
.comets span:nth-child(1) {
        animation-delay: 0.5s;
}

.comets span:nth-child(2) {
        animation-delay: 3s;
}

.comets span:nth-child(3) {
        animation-delay: 1.5s;
}

.comets span:nth-child(4) {
        animation-delay: 4s;
}

.comets span:nth-child(5) {
        animation-delay: 2s;
}

.comets span:nth-child(6) {
        animation-delay: 5s;
}

.comets span:nth-child(7) {
        animation-delay: 3.5s;
}

/* Delay for each comet separately (Mobile View) */
@media screen and (max-width: 650px) {
        .comets {
                --transform-duration: 12s;
                --transform-y: -360vh;
        }

        .comets span:nth-child(1) {
                animation-delay: 0s;
        }

        .comets span:nth-child(2) {
                animation-delay: 6s;
        }

        .comets span:nth-child(3) {
                animation-delay: 2s;
        }

        .comets span:nth-child(4) {
                animation-delay: 8s;
        }

        .comets span:nth-child(5) {
                animation-delay: 4s;
        }

        .comets span:nth-child(6) {
                animation-delay: 10s;
        }

        .comets span:nth-child(7) {
                animation-delay: 12s;
        }
}


/* Code for the Animation in Footer .... Social Media Icons */

/* Properties for footer */
.footer {
        width: 100%;
        background: linear-gradient(180deg, rgba(5, 12, 27, 0.9) 0%, rgba(3, 7, 16, 0.95) 100%);
        text-align: center;
        padding: 10px 0px;
        color: #e8f4ff;
}

.footer span {
        color: #c8defc;
        padding: 10px 0px;
}

.wrapper {
        margin: 5px;
}

.wrapper .social-media {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 0 5px;
        overflow: hidden;
        background: #fff;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-out;
}

.wrapper .social-media:hover {
        width: 11rem;
        text-align: left;
}

/* To rotate icon by 360 degree */
.wrapper .social-media:hover i {
        transform: rotate(360deg);
}

.wrapper .social-media .icon {
        display: inline-block;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50px;
}

.wrapper .social-media .icon i {
        font-size: 25px;
        line-height: 50px;
        color: #fff;
        transition-duration: 0.8s;
        transition-property: transform;
}

/* Set Color for each Icon */
.wrapper .social-media:nth-child(1) .icon {
        background: radial-gradient(circle at 30% 140%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.wrapper .social-media:nth-child(2) .icon {
        background: #0072b1;
}

.wrapper .social-media:nth-child(3) .icon {
        background: #171515;
}

.wrapper .social-media:nth-child(4) .icon {
        background: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121));
}

.wrapper .social-media span {
        font-size: 20px;
        font-weight: 500;
        margin-left: 10px;
        transition: all 0.3s ease-out;
}

/* Set Color for each text */
.wrapper .social-media:nth-child(1) span {
        color: #E1306C;
}

.wrapper .social-media:nth-child(2) span {
        color: #0072b1;
}

.wrapper .social-media:nth-child(3) span {
        color: #171515;
}

.wrapper .social-media:nth-child(4) span {
        color: #0d4db4;
}
